.comparision {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: $grey;

    > section {
        display: flex;
        justify-content: center;
        column-gap: 5vh;
        
        //一旦全部隠してdisplayクラスを持っているものだけ呈示するため
        display: none;
    }

    button {
        background-color: $grey;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $red;
    }

    .finishButton {
        color: black;
        font-size: 100px;
    }
    
    aside {
        display: flex;
        column-gap: 0.3vh;
    }
    
    h3 {
        font-size: 80px;
    }
    
    section > h3 {
        font-size: 80px;
    }
    
    .blue {
        color: $blue;
    }

    .yellow {
        color: $yellow;
    }

    .violet {
        color: $violet;
    }

    .display {
        display: flex;
    }
}
