.distance {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10vh;
    >span {
        font-size: 70px;
        color: grey;
    }
    .middle {
        color: rgb(255, 150, 0);
    }
}